# Ignorar archivos específicos
data/data_export_api.parquet
data/australian_user_reviews.json
data/australian_users_items.json
data/output_steam_games.json
.gitattributes
pi_henry/
JupyterNotebooks/api_functions.py
__pycache__
data/data_export_api.parquet
__pycache__
data/data_export_api_brotli.parquet
data/steam_games_limpo.csv
data/user_items_limpo.csv
data/user_reviews_limpo.csv
data/user_items_limpo.parquet
data/user_reviews_limpo.parquet
data/steam_games_limpo.parquet