# Ignorar archivos específicos
data/data_export_api.parquet
JupyterNotebooks/03_API_prueba.ipynb
data/australian_user_reviews.json
data/australian_users_items.json
data/output_steam_games.json
data/steam_games_limpo.csv
data/user_items_limpo.csv
data/user_reviews_limpo.csv
data/data_export_api_gzip.parquet
.gitattributes
pi_henry/
JupyterNotebooks/api_functions.py
main2.py
data/data_export_api.parquet
JupyterNotebooks/03_EDA.ipynb